aioredis==1.3.1
aiosqlite==0.17.0
alembic==1.13.1
altgraph==0.17.4
amqp==5.2.0
annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
async-timeout==4.0.3
asyncpg==0.29.0
bcrypt==4.1.2
billiard==4.2.0
black @ git+https://github.com/psf/black@58f31a70efe6509ce8213afac998bc5d5bb7e34d
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==42.0.2
dnspython==2.5.0
email-validator==2.0.0.post2
exceptiongroup==1.2.0
fastapi==0.109.0
fastapi-cache==0.1.0
fastapi-cache2==0.2.1
fastapi-users==12.1.2
fastapi-users-db-sqlalchemy==6.0.1
flower==2.0.1
greenlet==3.0.3
h11==0.14.0
hiredis==2.3.2
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
humanize==4.9.0
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
jose==1.0.0
keyboard==0.13.5
kombu==5.3.5
makefun==1.15.2
Mako==1.3.2
MarkupSafe==2.1.4
marshmallow==3.20.2
MouseInfo==0.1.3
mypy-extensions==1.0.0
orjson==3.9.12
packaging==23.2
passlib==1.7.4
pathspec==0.11.2
pefile==2023.2.7
pendulum==3.0.0
Pillow==10.1.0
platformdirs==4.0.0
pluggy==1.4.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
PyAutoGUI==0.9.54
pycparser==2.21
pydantic==2.5.3
pydantic-extra-types==2.4.1
pydantic-settings==2.1.0
pydantic_core==2.14.6
PyDirectInput==1.0.4
PyGetWindow==0.0.9
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.8.0
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytest==8.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytweening==1.0.7
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
redis==4.6.0
requests==2.31.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
starlette==0.35.1
time-machine==2.13.0
tomli==2.0.1
tornado==6.4
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.9.0
urllib3==2.1.0
uvicorn==0.27.0
vine==5.1.0
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
